// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)

#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_PANEL               ICON                    "panel.ico"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "panel"
    IDC_PANEL               "PANEL"
END

/////////////////////////////////////////////////////////////////////////////
